body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.avatar {
    width: 150px;
    border: 5px solid ;
    border-radius: 10px;
}



.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #faedcd;
    color: #161a1d;
    border: 6px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px #343a40;
    transition: 2s;
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
    
}

.card:hover{
      background: #fca311;
      color: #1d3557;
      box-shadow: 10px 10px #354f52;
      border-radius: 10%;
}

.abc{
    margin-top: 50px;
}

.border-blue {
    border: 1px dotted blue;
}



/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

